:root {
  --map-size: 1;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body{
  background: linear-gradient(45deg, #05012b, #200d5e);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.nav-link,
.container {
  background-color: #14121c;
  color: white;
}

/* Navbar */

.navbar {
  border-bottom: solid black 2px;
  background-color: #14121c;
  overflow: hidden;
  font-size: 20px;
}


.navbar a {
  font-size: 20px;
  margin-right: 30px;
  background-color: transparent;
}

.active {
  color: white !important;
}

.nav-link:hover {
  color: #42c3ca !important;
}

/* Game */

main{
  height: 100vh;
  overflow: hidden;
}

.container {
  /* margin-top: 300px; */
  text-align: center;
  margin: auto;
  position: relative;
  top: 13vh;
  max-width: 600vh;
  width: 90vw;
  background-color: #14121c;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2),
    0 5px 15px 0 rgba(255, 255, 255, 0.15);
  height: 80vh;
}

.game{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.game-scoreboard {
  width: 20%;
  height: 90%;
  background-color: #14121c;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2),
    0 5px 15px 0 rgba(255, 255, 255, 0.15);
}

.game-table {
  overflow: hidden;
  width: fit-content; /* ez meg van oldva pookie */
  height: fit-content;
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--map-size), 1fr);
  background-color: #14121c;
  border-radius: 5px; /* Ezt döntsétek el hogy kell-e */
}

.disabled {
  display: none;
}

.afterscreen {
  position: absolute;
  text-align: center;
  background-color: rgb(20, 18, 28 , 0.7);
  opacity: 100%;
  color: white;
  font-size: 6rem;
  height: 100%;
  width: 100%;
}

.afterscreentext {
  position: absolute;
  text-align: center;
  /* background-color: rgb(20, 18, 28 , 0.3); */
  opacity: 100%;
  color: white;
  font-size: 3rem;
  height: 100%;
  width: 100%;
}

.afterscreenbuttondiv {
  position: relative;
  text-align: center;
  margin: auto;
  margin-top: 10%;
  /* background-color: rgb(20, 18, 28 , 0.3); */
  opacity: 100%;
  color: white;
  background-color: rgb(20, 18, 28 , 0.7);
  font-size: 2rem;
  height: 10%;
  width: 40%;
}

.afterscreenbutton{
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0px;
  color: white;
}

.cell {
  width: calc(50vw / var(--map-size));
  height: calc(32.5vw / var(--map-size));
  max-width: calc(100vh / var(--map-size));
  max-height: calc(65vh / var(--map-size));
  /* background-color: #42c3ca; */
}

.cell .fruits{
  width: 100%;
  height: 100%;
  font-size: 1.8vmax; /*Állíthatod az értéket, de a vmax-ot hagyd benne!*/
  color: white; /* Igazából csak át kell rakni a textet egy kurva almafára aztán kész*/
  display: flex;
  background-color: white;
  background-image: url(./images/tree.png);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.cell .field {
  width: 100%;
  height: 100%;
  font-size: 1.8vmax; /*Állíthatod az értéket, de a vmax-ot hagyd benne!*/
  background-color: white;
  background-image: url(./images/stone.webp );
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.Player {
  width: 100%;
  height: 100%;
  font-size: 1.8vmax; /*Állíthatod az értéket, de a vmax-ot hagyd benne!*/
  background-color: white;
  background-image: url(./images/hunor.jpg );
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

@media screen and (max-width: 1100px) {
  .game {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
  }
  .game-table {
    order: -1;
    margin-top: 2vh;
  }
  .game-scoreboard {
    width: 48%;
    height: calc(100% - 65vw);
    min-height: calc(100% - 47vh);
    margin-top: 2vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  }
  .cell {
    width: calc(80vw / var(--map-size));
    height: calc(52vw / var(--map-size));
    max-width: calc(60vh / var(--map-size));
    max-height: calc(39vh / var(--map-size));
  }
}